.player.self {
    font-weight: bold;
}

.player.ready {
    background: #e2f0c4;
}

.player.current:before {
    content: "➜ ";
    line-height: 0;
}

.player.offline {
    color: #adadad;
}

.host-controls {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 6px;
    background: rgba(255, 252, 245, 0.58);
    user-select: none;
    cursor: default;
    text-align: right;
    z-index: 1;
}

.host-controls-menu {
    display: none;
    margin-bottom: 9px;
}

.host-controls:hover .host-controls-menu, .host-controls:focus .host-controls-menu {
    display: block;
}

.settings-button {
    cursor: pointer;
}

.settings-button:hover {
    background: #d4d4d4;
}

.side-buttons {
    display: none;
}

.host-controls:hover .side-buttons, .host-controls:focus .side-buttons {
    display: inline-block;
}

.game-board {
}

.add-command {
    font-size: 42px;
    font-weight: bold;
    color: #50bbff;
    cursor: pointer;
    margin-bottom: -10px;
    z-index: 1;
}

.commands-title {
    border-bottom: 1px solid;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.player-list {
    display: flex;
    width: 100%;;
    justify-content: center;
    flex-direction: row;
    padding: 40px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.player-container {
    display: flex;
    border: 1px solid gainsboro;
    flex-direction: column;
    text-align: center;
    position: relative;
    margin: 5px;
    background: rgba(255, 255, 255, 0.74);
}

.role {
    width: 93px;
    background: none;
    border: none;
}

.notebook {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#notebook {
    width: 190px;
    height: 180px;
    padding: 8px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.74);
    font-size: 14px;
}

#avatar-input {
    display: none;
}

.avatar {
    width: 190px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.role-container {
    position: absolute;
    padding: 7px;
    left: 43px;
    top: 8px;
    box-shadow: 0 0 5px 1px black;
    background: rgb(255, 239, 201);
}

.role-container.transition {
    transition: transform 0.3s;
}

.player {
    padding: 3px;
    user-select: none;
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0e0e0e url(old-german-bar.jpg) center no-repeat;
    background-size: cover;
    filter: blur(0) brightness(1);
    transition: filter 2s;
    z-index: -1;
}

#background.blurred {
    filter: blur(5px) brightness(0.8);
}

body {
    margin: 0;
    background: black;
}

.kicked {
    color: white;
    padding: 22px;
    text-align: center;
}

.spectators-section {
    display: none;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
}

.spectators-section.active {
    display: block;
}

.spectators {
    display: inline-block;
    padding: 4px 6px;
    cursor: pointer;
    background: rgba(255, 252, 245, 0.58);
    user-select: none;
    white-space: nowrap;
    height: 20px;
}

.spectators .player {
    display: inline-block;
    margin: 0 4px;
    padding: 0;
}

.player-host-controls {
    display: none;
    vertical-align: middle;
}

.player-host-controls > * {
    margin-left: 5px;
}

.player:hover .player-host-controls, .player:focus .player-host-controls {
    display: inline-block;
}

.player .host-button {
    font-size: 16px;
    cursor: pointer;
    vertical-align: middle;
}

.join-players-button {
    z-index: 1;
    font-size: 40px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    padding: 84px;
    background: #a7a7a740;
    margin: 5px;
    padding-top: 90px;
}

.set-avatar-button, .show-notes-button {
    display: none;
}

.set-avatar-button i, .show-notes-button i {
    position: absolute;
    right: 0;
    top: 0;
    color: #4c4c4c;
    background: rgba(255, 255, 255, 0.74);
    z-index: 2;
}

.player-container:hover .set-avatar-button, .player-container:hover .show-notes-button,
.player-container:focus .set-avatar-button, .player-container:focus .show-notes-button {
    display: block;
}

.player-notes {
    display: none;
}

.show-notes-button:hover .player-notes, .show-notes-button:focus .player-notes {
    display: block;
}

.player-notes {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.74);
    z-index: 1;
    text-align: left;
    padding: 10px;
    white-space: pre;
    overflow: auto;
}

.popup_modals .modal_buttons .btn.btn_pmry {
    background-color: #9c8370 !important;
}

.popup_modals .modal_buttons .btn.btn_sdry {
    background-color: #a0a0a0 !important;
}

.turn-marker.material-icons {
    position: absolute;
}

.turn-marker {
    position: absolute;
    text-shadow: 0 0 9px #ff7722;
    color: #403f3f;
}

.player-container.current-player {
    box-shadow: 0 0 13px 0 #ff7722;
}

.end-turn-button {
    position: fixed;
    right: 0;
    top: 28px;
    margin: 10px;
    padding: 8px 16px;
    cursor: pointer;
    background: rgba(255, 252, 245, 0.58);
    box-shadow: 0 0 13px 0 #ff7722;
}

.user-audio-marker.muted {
    box-shadow: 0 0 13px 3px #aeaeae99;
}

.user-audio-marker.speaking {
    box-shadow: 0 0 13px 3px #9ccc65 !important;
}

.chat-send-input {
    color: black !important;
}

.konfa-menu img {
    filter: brightness(0.1) !important;
}

.has-room-image #background {
    display: none;
}
